.bg-dark {
  background-color: #15202B ; /* 背景色をダークに設定 */
}

.text-white {
  color: #ffffff ; /* テキストの色を白に設定 */
}
/* メインコンテンツ領域 */
.main-content {
  max-width: 600px; /* コンテンツの最大幅 */
  margin: 0 auto; /* 中央寄せ */
  background-color: #192734; /* コンテンツエリアの背景色 */
  border-radius: 10px; /* 角の丸み */
  padding: 20px;
}

/* テキストエリアのスタイル */
.fixed-textarea {
  resize: none; /* サイズ変更を無効化 */
  height: 150px; /* 固定の高さ */
  width: 100%; /* コンテナの幅に合わせる */
  background-color: #253341; /* テキストエリアの背景色 */
  border: none; /* 境界線をなくす */
  border-radius: 5px; /* 角の丸み */
  padding: 10px; /* 内側の余白 */
  color: #8899A6; /* テキストの色 */
  margin-bottom: 10px; /* 下の要素との距離 */
}

/* ボタンのスタイル */
.btn {
  border-radius: 20px; /* 角の丸み */
  padding: 10px 20px; /* 内側の余白 */
}
/* ボタンのスタイル */
.btn-primary {
  background-color: #1DA1F2; /* ボタンの背景色 */
  border-color: #1DA1F2;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 123, 255, 0.5); /* 軽いシャドウを追加 */
}

.btn-primary:hover {
  background-color: #1A91DA; /* ホバー時の色を少し暗く */
  border-color: #1A91DA;
}

.btn-secondary {
  background-color: #6c757d; /* セカンダリーカラー */
  border-color: #6c757d;
}

.btn-secondary:hover {
  background-color: #5a6268; /* ホバー時の色を少し暗く */
  border-color: #5a6268;
}

/* ツイートリスト */
.tweet-list {
  list-style: none; /* リストマーカーを無くす */
  padding: 0; /* リストのパディングをなくす */
  margin-top: 30px;
}

/* ツイートアイテム */
.tweet-item {
  background-color: #253341; /* アイテムの背景色 */
  margin-bottom: 1rem; /* アイテム間の距離 */
  padding: 1rem; /* 内側の余白 */
  border-radius: 5px; /* 角の丸み */
}
.tweet-item small {
  color: #fff; /* 投稿日時の文字色を白に変更 */
}

/* 画像のスタイル */
img.tweet-image {
  max-width: 100%; /* 親要素の幅いっぱい */
  height: auto; /* 高さを自動で */
  border-radius: 5px; /* 角の丸み */
  margin-top: 10px; /* 画像の上の要素との距離 */
}

#characterCount {
  color: #ffffff;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 5px; /* 画像間の隙間 */
  position: relative;
}

.image-container {
  width: 100px;
  height: 100px;
  overflow: hidden; /* 正方形の領域外は隠す */
  position: relative;
  cursor: pointer;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  transition: transform 0.3s ease;/* 画像をコンテナに合わせてトリミング */
}


.image-container img.expanded {
  position: absolute;
  z-index: 10;
  transform: scale(2);
  cursor: zoom-out;
  object-fit: contain;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2);
}



